body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../static/images/5.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    height: 200vh;
    font-size: larger;
}

.header {
    position: relative;
    background-color: rgba(255, 255, 255, 0.338); /* Transparent background to highlight content */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.auth-links {
    position: absolute;
    top: 20px;
    right: 20px;
}

.auth-links a, .auth-links button {
    text-decoration: none;
    color: #ff9500;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
}

.title {
    font-size: 34px;
    color: #d8a539a6;
    margin: 0;
    margin-top: 20px;
}

.search-form {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.search-form input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    margin-right: 5px;
}

.search-form button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #b18347ac;
    color: #fff;
    cursor: pointer;
}

/* Navbar styling */
.navbar {
    overflow: hidden;
    background-color: #ffffff3e;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(8, 7, 7);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #575757;
}

/* Tab content styling */
.tabcontent {
    display: none;
    padding: 20px;
}

.tabcontent h2 {
    color: #f2f1f19b;
}


/* Main container styling */
.main-container {
    display: flex;
    min-height: 50vh;
}

/* Sidebar styling */
.sidebar {
    background-color: #f9f9f9;
    padding: 20px;
    width: 150px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1); /* Shadow on the left for the sidebar */
    order: 2; /* Position the sidebar on the right */
    border-left: 1px solid #ccc; /* Add a vertical bar on the left */
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #0e90d2;
}

/* Content container styling */
.content-container {
    flex: 1;
    padding: 20px;
    order: 2; /* Position the content container on the left */
}

.content {
    margin-top: 20px;
}

.footer {
    position: fixed; /* תיקון למיקום קבוע בתחתית המסך */
    bottom: 0; /* הצמדת ה-footer לתחתית הדף */
    left: 0;
    width: 100%; /* התמתחות לרוחב מלא */
    background-color: #1a16161a; /* צבע רקע כהה */
    color: #000000; /* צבע טקסט לבן */
    text-align: center; /* מרכז את הטקסט */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* צללים עדינים למראה תלת-ממדי */
    z-index: 1000; /* למנוע התנגשות עם אלמנטים אחרים */
    font-family: 'Nerko One', sans-serif;
}

