body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cab3b3;
}

.header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

/* styles.css */

.header-image {
    text-align: center; /* Center the image horizontally */
    margin-top: 20px; /* Optional: add space above the image */
}

.header-image img {
    width: 500px; /* Set the image width */
    height: auto; /* Maintain the image's aspect ratio */
}


.auth-links {
    position: absolute;
    top: 20px;
    right: 20px;
}

.auth-links a {
    text-decoration: none;
    color: #007bff;
}

.title {
    font-size: 24px;
    color: #9b1499;
    margin: 0;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.search-form input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    margin-right: 5px;
}

.search-form button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #bb4184;
    color: #fff;
    cursor: pointer;
}

.tab {
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.tab button {
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.square-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.square-button {
    display: block;
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 8px;
    margin: 10px;
    color: #333;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.square-button:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
    padding: 20px;
}